/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.order-list {
  list-style: none;
  padding: 0;
}

.order-item-huhu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.order-info {
  flex-grow: 1;
}

.order-info p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-details-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.order-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.order-details h2 {
  margin-bottom: 10px;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.product-info {
  flex-grow: 1;
}

.product-info p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delivery-section {
  margin-top: 20px;
}

.delivery-section label {
  margin-right: 10px;
}

.delivery-section input {
  width: 80px;
}

.delivery-section .button {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
